:root {
    --el-fill-color-blank: transparent !important;
    --el-color-primary: var(--echo-theme-color) !important;
    --el-overlay-color-lighter: rgba(17, 8, 8, 0.1) !important;
    --el-text-color-regular: #000 !important;
    --el-mask-color: rgba(255, 255, 255, .6) !important;
}

/* dropdown */
.el-dropdown-menu__item:not(.is-disabled):focus {
    --el-dropdown-menuItem-hover-fill: #eee;
    --el-dropdown-menuItem-hover-color: #000;
}

.dashboard__dropdown-menu .el-dropdown-menu__item {
    min-width: 60px;
    padding-right: 20px;
}

.file-explorer__dropdown-menu {
    overflow-y: auto;
    max-height: 400px;
}

.file-explorer__dropdown-menu .el-dropdown-menu__item {
    min-width: 100px;
}


.el-select__wrapper {
    border-radius: 0 !important;
}

/* poper  */
.el-popper__arrow {
    display: none;
}

/* form */
.el-form-item__content {
    display: block !important;
    flex-direction: column;
}

/* input*/
.el-input {
    --el-input-bg-color: #fff !important;
    flex: 1;
}

.el-textarea {
    --el-input-bg-color: #fff !important;
}

.el-autocomplete {
    display: flex !important;
}

.el-textarea__inner,
.el-input__wrapper {
    border-radius: 0 !important;
}

.el-dialog,
.el-message-box {
    padding: 0 0 10px 0 !important;
}

.el-message-box__header,
.el-dialog__header {
    padding: 15px 20px !important;
    background-color: #f6f6f8 !important;
    border-bottom: 2px solid #ededed;
}

.el-message-box__headerbtn {
    width: 57px !important;
    height: 57px !important;
}

.el-message-box__content {
    padding: 10px 15px;
}

.el-message-box__btns {
    padding: 5px 15px;
}

.el-message-box .el-button {
    width: 120px !important;
}

.el-dialog__body {
    padding: var(--el-dialog-padding-primary) !important
}

/* button */
body .el-button {
    padding: 0 25px !important;
    line-height: 32px !important;
}

.el-form-item .el-button {
    padding: 0 40px !important;
}

.el-button--primary:not(.is-disabled):focus,
.el-button--primary:not(.is-disabled):hover {
    background: var(--echo-theme-color) !important;
    border-color: var(--echo-theme-color) !important;
}

.el-button--primary.is-disabled,
.el-button--primary.is-disabled:hover {
    background: var(--echo-theme-color) !important;
    border-color: var(--echo-theme-color) !important;
    opacity: 0.5;
}

.el-button--primary:hover {
    opacity: 0.8;
}

.el-drawer__header {
    line-height: normal !important;
}


.series-content-drawer.el-drawer,
.similar-record-drawer .el-drawer {
    background-color: #f6f6f8;
}

.series-content-drawer .el-drawer__header,
.similar-record-drawer .el-drawer__header {
    margin-bottom: 20px;
}

.series-content-drawer .el-drawer__body {
    display: flex;
    padding: 10px 2px 10px 20px;
    overflow: hidden;
}

.similar-record-drawer .el-drawer__body {
    padding: 20px;
    overflow: hidden;
}