:root {
    --el-fill-color-blank: transparent !important;
    --el-color-primary: #9e94f7 !important;
    --el-overlay-color-lighter: rgba(0, 0, 0, 0.1) !important;
    --el-text-color-regular: #000 !important;
}

/* dropdown */
.el-dropdown-menu__item:not(.is-disabled):focus {
    --el-dropdown-menuItem-hover-fill: #eee;
    --el-dropdown-menuItem-hover-color: #000;
}

/* poper  */
.el-popper__arrow {
    display: none;
}

/* pagination */
.el-pager li {
    margin: 0 2px !important;

}

/* form */
.el-form-item__content {
    display: block !important;
    flex-direction: column;
}

/* input*/
.el-input {
    --el-input-bg-color: #fff !important;
}

.el-textarea {
    --el-input-bg-color: #fff !important;
}

.el-autocomplete {
    display: flex !important;
}

.el-textarea__inner,
.el-input__wrapper {
    border-radius: 0 !important;
}

/* el-dialog */
.el-dialog__headerbtn {
    top: 0 !important;
}

.el-dialog__header {
    border-top-left-radius: var(--el-border-radius-small);
    border-top-right-radius: var(--el-border-radius-small);
    padding: 15px 20px !important;
    background-color: #f6f6f8 !important;
    margin: 0 !important;
    border-bottom: 2px solid #ededed;
}

.el-dialog__body {
    padding: var(--el-dialog-padding-primary) !important
}


/* loading */
/* .el-loading-mask {
    background-color: #f6f6f8 !important;
} */

/* .el-loading-spinner .path {
    stroke: #9e94f7 !important;
} */

/* 
.el-textarea__inner:focus,
.is-focus {
    box-shadow: 0 0 0 1px #9e94f7 inset !important;
}

.el-autocomplete-suggestion__wrap {
    padding: 5px 0 !important;
}

.el-autocomplete-suggestion li {
    line-height: initial !important;
    padding: 0 10px !important;
}

.el-backtop {
    --el-backtop-text-color: #9e94f7 !important;
} */