:root {
    --el-fill-color-blank: transparent !important;
    --el-color-primary: #9e94f7 !important;
}

/* dropdown */
.el-dropdown-menu__item:not(.is-disabled):focus {
    --el-dropdown-menuItem-hover-fill: #eee;
    --el-dropdown-menuItem-hover-color: #000;
}

/* poper  */
.el-popper__arrow {
    display: none;
}

/* pagination */
.el-pager li {
    margin: 0 2px !important;

}



/******************** element-plus ********************/

/* .el-loading-mask {
    background-color: #f6f6f8 !important;
}

.el-overlay {
    background-color: rgba(0, 0, 0, 0.1) !important;
} */

/* loading */
/* .el-loading-spinner .path {
    stroke: #9e94f7 !important;
} */


/* input*/
/* .el-autocomplete {
    flex: 1;
    display: flex !important;
    height: 26px;
    box-sizing: border-box;
}

.el-input {
    display: inline-block;
    margin-top: 0 !important;
}

.el-textarea__inner,
.el-input__wrapper {
    height: 26px;
    border-radius: 0 !important;
    font-size: 13px !important;
    box-sizing: border-box;
    background-color: #f0f0f0 !important;
}

.el-textarea__inner:focus,
.is-focus {
    box-shadow: 0 0 0 1px #9e94f7 inset !important;
}


.el-autocomplete-suggestion__wrap {
    padding: 5px 0 !important;
}

.el-autocomplete-suggestion li {
    line-height: initial !important;
    padding: 0 10px !important;
}

.el-backtop {
    --el-backtop-text-color: #9e94f7 !important;
} */

/* el-dialog */
/* .el-dialog {
    border-radius: 4px !important;
}

.el-dialog__headerbtn {
    top: 0 !important;
}

.el-dialog__headerbtn:hover .el-dialog__close {
    color: #9e94f7 !important;
}

.el-dialog__header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 15px 20px !important;
    background-color: #f6f6f8 !important;
    margin: 0 !important;
    border-bottom: 2px solid #ededed;
}

.el-dialog__body {
    padding: 0 20px !important;
}

.el-button {
    padding: 4px 25px !important;
} */