/******************** echo ********************/
:root {
    --echo-theme-color: #8e75ff;
    --echo-theme-color-light1: #9780ff;
    --echo-theme-color-light2: #ac99ff;
    --echo-theme-color-light3: #c1b3ff;
    --echo-theme-color-light4: #d5ccff;
    --echo-theme-color-light5: #eae6ff;
    --echo-theme-color-light6: #f4f2ff;
    --echo-emphasis-color: #258fb8;
    --echo-warning-color: #f56c6c;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #f6f6f8;
}

img {
    -webkit-user-drag: none;
}

/******************** common ********************/
/* scrollbar */
.scrollbar-y {
    overflow-x: hidden;
    overflow-y: scroll;
}

.scrollbar-y-w4 {
    overflow-x: hidden;
    overflow-y: scroll;
}

.scrollbar-y-w4::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

.scrollbar-y-w4::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #cfcfcf;
}

.scrollbar-y-w8 {
    overflow-x: hidden;
    overflow-y: scroll;
}

.scrollbar-y-w8::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.scrollbar-y-w8::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #cfcfcf;
}

.scrollbar-x-nodisplay {
    overflow-x: scroll;
    overflow-y: hidden;
}

.scrollbar-x-nodisplay::-webkit-scrollbar {
    display: none;
}

/* fit */
.fit--cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fit--contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.emptyFonticon::before {
    display: inline-block;
    content: '';
    min-width: 13px;
    margin-right: 4px;
}

.dot::before {
    content: '\e60a';
    font-family: "iconfont" !important;
    font-size: 13px;
    line-height: 13px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overflow-hidden {
    overflow: hidden;
}

.no-drag {
    -webkit-app-region: no-drag;
}

.disabled {
    cursor: not-allowed !important;
    opacity: .7;
}

.inline-list-title::after {
    content: ":";
    margin: 0 9px 0 2px;
    color: #999;
}

.textover--ellopsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.openExternal {
    text-decoration: none;
    color: var(--echo-theme-color);
}

.openExternal::after {
    font-family: "iconfont" !important;
    content: "\e8a9";
    font-size: 16px;
    cursor: pointer;
}

.image-select-btn {
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 6px 0;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 12px;
    text-align: center;
    opacity: .8;
    z-index: 1;
    cursor: pointer;
}

.image-select-btn::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 1px;
    top: 6px;
    bottom: 6px;
    background-color: #fff;
}

.image-select-btn span {
    cursor: pointer;
    height: 28px;
    line-height: 28px;
    width: 50%;
}

.image-select-btn span:hover:not(.disabled) {
    color: rgba(255 255, 255, 0.7);
}

/* 分割线 */
.divider:not(:last-child) {
    border-bottom: 1px solid #d6dee5;
}

.img-icon {
    display: inline-block;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    object-fit: cover;
}

.select-none {
    user-select: none;
}

.select-text {
    user-select: text;
}

.box-shadow-1 {
    box-shadow:
        0px 0px 0.3px rgb(0 0 0 / 3%),
        0px 0px 1.1px rgb(0 0 0 / 4%),
        0px 0px 5px rgb(0 0 0 / 7%);
}

/* adaptive-grid */
.adaptive-grid {
    display: grid;
    justify-content: space-around;
}

/******************** components ********************/
.tab-header {
    font-size: 30px;
    padding: 10px 0;
    font-weight: 700;
}

/******************** View ********************/
/* titlebar */
.titlebar {
    height: 50px;
    padding-right: 10px;
    line-height: 50px;
    font-size: 13px;
    color: #333333;
    -webkit-app-region: drag;
}

/* dashboard */
.dashboard__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 36px;
    padding: 0 18px 0 4px;
    margin-bottom: 5px;
    line-height: 36px;
}

.dashboard__header .left-menu {
    display: flex;
    flex: 1;
    align-items: center;
}

.dashboard__header .right-menu {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dashboard__header .el-autocomplete {
    height: 28px !important;
}

.dashboard__header .search {
    width: 60%;
    max-width: 400px;
}

.dashboard__header .menu-item:nth-last-child(n+2) {
    margin-right: 6px;
}

.dashboard__dropdown-menu .el-dropdown-menu__item {
    padding-right: 20px;
}

.dashboard__content {
    flex: 1;
    padding: 4px 10px 4px 4px;
}

.dashboard__footer {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* dashboard text card*/
.dashboard-text-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
    border-radius: 5px;
    font-size: 13px;
}

.dashboard-text-card:hover {
    background-color: #fff;
    box-shadow:
        0px 0px 0.3px rgba(0, 0, 0, 0.033),
        0px 0px 1.1px rgba(0, 0, 0, 0.044),
        0px 0px 5px rgba(0, 0, 0, 0.07);
}

.dashboard-text-card .count {
    margin-left: 10px;
    color: var(--echo-emphasis-color);
}

.dashboard-text-card .operate {
    visibility: hidden;
}

.dashboard-text-card:hover .operate {
    visibility: visible;
}

.dashboard-text-card .operate span {
    margin-left: 10px;
}

.dashboard-text-card .operate span:hover {
    color: var(--echo-theme-color);
}

/******************** Settings ********************/
.settings-item {
    max-width: 800px;
    display: flex;
    padding: 18px 0;
    border-bottom: 1px solid #e8e8e8;
    line-height: 32px;
    -webkit-user-drag: none;
}

.settings-item__title {
    width: 120px;
}

.settings-item__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.settings-item__content .row {
    display: flex;
    margin-bottom: 10px;
}

.settings-item__content .row>*:nth-child(n+2) {
    margin-left: 10px;
}

.settings-item__content .col {
    width: 180px;
}

/* tips */
.tips__reference {
    color: #9499a0;
    font-size: 12px;
}

.tips__content {
    font-size: 13px;
}