/******************** echo ********************/
:root {
    --echo-theme-color: #9e94f7;
    --echo-theme-color-light1: #b5adf7;
    --echo-theme-color-light2: #e1dff7;
    --echo-theme-color-light3: #f1f0fe;
    --echo-text-color1: #000000;
    --echo-text-color2: #333333;
    --echo-text-color3: #474747;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #f6f6f8;
}

/******************** common ********************/
/* scrollbar */
.scrollbar-y-w4 {
    overflow-x: hidden;
    overflow-y: scroll;
}

.scrollbar-y-w4::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

.scrollbar-y-w4::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #cfcfcf;
}

.scrollbar-y-w8 {
    overflow-x: hidden;
    overflow-y: scroll;
}

.scrollbar-y-w8::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.scrollbar-y-w8::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #cfcfcf;
}

/* fit */
.fit--cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fit--contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.emptyFonticon::before {
    display: inline-block;
    content: '';
    min-width: 13px;
    margin-right: 4px;
}

.dot::before {
    content: '\e60a';
    font-family: "iconfont" !important;
    font-size: 13px;
    line-height: 13px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overflow-hidden {
    overflow: hidden;
}

.no-drag {
    -webkit-app-region: no-drag;
}

/* min-width会从内向外重新计算盒子的大小，来解决white-space:no-wrap破坏flex布局的问题 */
.min-width-0 {
    min-width: 0;
}

.textover--ellopsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-select-btn {
    display: flex;
    opacity: .8;
    position: absolute;
    bottom: 0;
    align-items: center;
    font-size: 12px;
    color: #fff;
    justify-content: center;
    text-align: center;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, .6);
    cursor: pointer;
    padding: 6px 0;
    box-sizing: border-box;
    height: 28px;
}

.image-select-btn::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 1px;
    top: 6px;
    bottom: 6px;
    background-color: #fff;
}

.image-select-btn span {
    cursor: pointer;
    height: 28px;
    line-height: 28px;
    width: 50%;
}

.image-select-btn span:hover {
    color: rgba(255 255, 255, 0.7);
}

.image-select-btn .disabled {
    cursor: not-allowed;
    color: rgba(255 255, 255, 0.7);
}

/* 分割线 */
.divider:not(:last-child) {
    border-bottom: 1px solid #d6dee5;
}

.select-none {
    user-select: none;
}

.select-text {
    user-select: text;
}

.fw-bold {
    font-weight: bold;
}

/* adaptive-grid */
.adaptive-grid {
    display: grid;
    justify-content: space-around;
}

/******************** components ********************/
.tab-header {
    font-size: 30px;
    padding: 10px 0;
}

/******************** View ********************/
/* titlebar */
.titlebar {
    height: 50px;
    line-height: 50px;
    -webkit-app-region: drag;
}

/* dashboard */
.dashboard__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 36px;
    padding: 0 18px 0 4px;
    line-height: 36px;
}

.dashboard__header .left-menu {
    display: flex;
    flex: 1;
    align-items: center;
}

.dashboard__header .right-menu {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dashboard__header .el-autocomplete {
    height: 28px !important;
    width: 60%;
}

.dashboard__header .menu-item:nth-last-child(n+2) {
    margin-right: 6px;
}

.dashboard__dropdown-menu .el-dropdown-menu__item {
    padding-right: 20px;
}

.dashboard__content {
    flex: 1;
    padding: 4px 10px 4px 4px;
}

.dashboard__footer {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* dashboard text card*/
.dashboard-text-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
    border-radius: 5px;
    font-size: 13px;
}

.dashboard-text-card:hover {
    background-color: #fff;
    box-shadow:
        0px 0px 0.3px rgba(0, 0, 0, 0.033),
        0px 0px 1.1px rgba(0, 0, 0, 0.044),
        0px 0px 5px rgba(0, 0, 0, 0.07);
}

.count {
    margin-left: 4px;
    color: #258fb8;
}

.dashboard-text-card .operate {
    visibility: hidden;
}

.dashboard-text-card:hover .operate {
    visibility: visible;
}

.dashboard-text-card .operate span {
    margin-left: 10px;
}

.dashboard-text-card .operate span:hover {
    color: var(--echo-theme-color);
}