/******************** echo ********************/
:root {
    --echo-theme-color: #9e94f7;
    --echo-theme-color-light1: #b5adf7;
    --echo-theme-color-light2: #e1dff7;
    --echo-theme-color-light3: #f1f0fe;
    --echo-text-color1: #000000;
    --echo-text-color2: #333333;
    --echo-text-color3: #474747;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #f6f6f8;
}

.titlebar {
    height: 50px;
    line-height: 50px;
    -webkit-app-region: drag;
}

/* scrollbar */
.scrollbar-y-w4 {
    overflow-x: hidden;
    overflow-y: scroll;
}

.scrollbar-y-w4::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

.scrollbar-y-w4::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #cfcfcf;
}

.scrollbar-y-w8 {
    overflow-x: hidden;
    overflow-y: scroll;
}

.scrollbar-y-w8::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.scrollbar-y-w8::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #cfcfcf;
}

/* fit */
.fit--cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fit--contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.beforeIcon::before {
    display: inline-block;
    content: '';
    min-width: 13px;
    margin-right: 4px;
}

/******************** common ********************/
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overflow-hidden {
    overflow: hidden;
}

.no-drag {
    -webkit-app-region: no-drag;
}

/* min-width会从内向外重新计算盒子的大小，来解决white-space:no-wrap破坏flex布局的问题 */
.min-width-0 {
    min-width: 0;
}

.textover--ellopsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 分割线 */
.divider:not(:last-child) {
    border-bottom: 1px solid #d6dee5;
}

.select-none {
    user-select: none;
}

.select-text {
    user-select: text;
}

.fw-bold {
    font-weight: bold;
}

.padding-b8 {
    padding-bottom: 8px;
}

/* dashboard */
.dashboard-pagination {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* dialog */
.dialogCol {
    display: flex;
    justify-content: center;
    line-height: 26px;
    margin: 15px 0;
}

.dialogCol .col-title {
    width: 60px;
    margin-right: 10px;
}

.dialogCol .col-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.col-content>div {
    display: flex;
    justify-content: right;
    margin-bottom: 5px;
}