.record-recommendations {
    --record-recommendation-item-line-height: 24px;
    --record-recommendation-item-cover-width: 220px;
    --record-recommendation-item-cover-height: 180px;
    column-gap: 25px;
    row-gap: 25px;
}

/* grid */
.thumbnail-grid {
    grid-template-columns: repeat(auto-fill, var(--record-recommendation-item-cover-width));
}

.extended-grid {
    grid-template-columns: repeat(auto-fill, 600px);
}

.record-recommendation-item {
    display: flex;
    flex-shrink: 0;
    position: relative;
    font-size: 13px;
}

.record-recommendation-item .record-info {
    width: 100%;
}

.thumbnail-records .record-recommendation-item {
    width: var(--record-recommendation-item-cover-width);
    flex-direction: column;
}

.extended-records .record-recommendation-item {
    flex-direction: row;
}

/* meta */
.record-recommendation-item .meta {
    min-height: var(--record-recommendation-item-line-height);
    display: flex;
    line-height: var(--record-recommendation-item-line-height);
}

.thumbnail-records .record-recommendation-item .meta {
    margin-top: 4px;
    white-space: nowrap;
}

.thumbnail-records .record-recommendation-item .meta-content {
    display: flex;
    flex-wrap: nowrap;
}

.extended-records .record-recommendation-item .meta {
    margin-bottom: 4px;
}

.extended-records .record-recommendation-item .meta-content {
    display: flex;
    flex-wrap: wrap;
}

/* cover */
.record-recommendation-item .cover {
    width: var(--record-recommendation-item-cover-width);
    height: var(--record-recommendation-item-cover-height);
    display: block;
    margin-right: 16px;
    flex-shrink: 0;
    object-fit: contain;
}

/* operates */
.record-recommendations:not(.is-batch) .record-recommendation-item:hover .operates {
    visibility: visible;
}

.record-recommendation-item .operates {
    --operates-height: 50px;
    width: var(--record-recommendation-item-cover-width);
    height: var(--operates-height);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    background-color: rgba(246, 246, 248, .7);
    z-index: 10;
    visibility: hidden;
}

.record-recommendation-item .operates>div {
    width: calc(var(--operates-height) - 10px);
    height: calc(var(--operates-height) - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    font-weight: normal;
    cursor: pointer;
}

.record-recommendation-item .operates>div:hover:not(.disabled) {
    color: rgba(255, 255, 255, .7);
}

.thumbnail-records .record-recommendation-item .operates,
.extended-records .record-recommendation-item .operates {
    top: calc(var(--record-recommendation-item-cover-height) - var(--operates-height));
}

/* title */
.record-recommendation-item .title {
    font-size: 14px;
    font-weight: 700;
}

/* author */
.record-recommendation-item .author {
    margin-right: 14px;
}

.record-recommendation-item .author .avatar-icon {
    height: var(--record-recommendation-item-line-height);
    width: var(--record-recommendation-item-line-height);
    cursor: pointer;
}

.record-recommendation-item .author .author_name {
    margin-left: 4px;
    color: var(--echo-emphasis-color);
}

/* tag */
.record-recommendation-item .tag {
    margin-right: 10px;
    color: #444;
}

.record-recommendation-item .tag::before {
    content: '\e701';
    font-family: "iconfont" !important;
}

/* check-container */
.check-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    z-index: 100;
}

.is-batch .check-container {
    display: block;
}