@font-face {
  font-family: "iconfont"; /* Project id 3790846 */
  src: url('iconfont.woff2?t=1695537891747') format('woff2'),
       url('iconfont.woff?t=1695537891747') format('woff'),
       url('iconfont.ttf?t=1695537891747') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dashboard:before {
  content: "\e6f7";
}

.icon-shujutansuoshujuzhongxinmoxingguanli:before {
  content: "\e65c";
}

.icon-dashboard1:before {
  content: "\e88b";
}

.icon-shujuyuan:before {
  content: "\e617";
}

.icon-shuju6:before {
  content: "\e61d";
}

.icon-shuju9:before {
  content: "\e61e";
}

.icon-dashboard2:before {
  content: "\e7dd";
}

.icon-daochu:before {
  content: "\e60d";
}

.icon-daochu1:before {
  content: "\e654";
}

.icon-daochu2:before {
  content: "\e866";
}

.icon-daochu3:before {
  content: "\e631";
}

.icon-daochu4:before {
  content: "\e9c9";
}

.icon-rename:before {
  content: "\e7fb";
}

.icon-24gl-rename:before {
  content: "\eb09";
}

.icon-24gf-rename:before {
  content: "\eb12";
}

.icon-Rename-1:before {
  content: "\e6ca";
}

.icon-rename1:before {
  content: "\e692";
}

.icon-bx-rename:before {
  content: "\e669";
}

.icon-RENAME:before {
  content: "\e9ff";
}

.icon-backtop:before {
  content: "\e609";
}

.icon-yidongduanicon-:before {
  content: "\e615";
}

.icon-yidong:before {
  content: "\e62d";
}

.icon-yidong1:before {
  content: "\e64b";
}

.icon-a-BackTop:before {
  content: "\e61c";
}

.icon-link:before {
  content: "\e612";
}

.icon-sousuo3:before {
  content: "\e8ba";
}

.icon-sousuo4:before {
  content: "\eafe";
}

.icon-sousuo5:before {
  content: "\e7ec";
}

.icon-List1:before {
  content: "\e69e";
}

.icon-hashtag1:before {
  content: "\e786";
}

.icon-hashtag2:before {
  content: "\e701";
}

.icon-folder3:before {
  content: "\e73e";
}

.icon-keyboardarrowdown:before {
  content: "\e76f";
}

.icon-keyboardarrowleft:before {
  content: "\e779";
}

.icon-keyboardarrowright:before {
  content: "\e77a";
}

.icon-keyboardarrowup:before {
  content: "\e77b";
}

.icon-launch:before {
  content: "\e789";
}

.icon-openinbrowser:before {
  content: "\e7e9";
}

.icon-close2:before {
  content: "\e668";
}

.icon-close-bold:before {
  content: "\e685";
}

.icon-window-minimize3:before {
  content: "\e67a";
}

.icon-window-restore:before {
  content: "\e607";
}

.icon-Library:before {
  content: "\e69c";
}

.icon-edit:before {
  content: "\e722";
}

.icon-sousuo1:before {
  content: "\e651";
}

.icon-sousuo2:before {
  content: "\e86e";
}

.icon-file-copy-fill:before {
  content: "\e85c";
}

.icon-ai211:before {
  content: "\e6c7";
}

.icon-ai212:before {
  content: "\e6c9";
}

.icon-open-in-new1:before {
  content: "\e8a9";
}

.icon-open-outline:before {
  content: "\e9fc";
}

.icon-triangleLineUp_1:before {
  content: "\e66e";
}

.icon-angle-up:before {
  content: "\e60b";
}

.icon-backtop1:before {
  content: "\e60c";
}

.icon-top1:before {
  content: "\e681";
}

.icon-triangleLineRight_1:before {
  content: "\e66c";
}

.icon-triangleLineLeft_1:before {
  content: "\e66d";
}

.icon-jian1:before {
  content: "\e8e2";
}

.icon-filter_list:before {
  content: "\e7e6";
}

.icon-filter-alt:before {
  content: "\e600";
}

.icon-dian:before {
  content: "\e60a";
}

.icon-lianjie1:before {
  content: "\e6c8";
}

.icon-xuexiao:before {
  content: "\e632";
}

.icon-shuaxin4:before {
  content: "\e61f";
}

.icon-piliangxuanze:before {
  content: "\e622";
}

.icon-piliangchuli:before {
  content: "\e61b";
}

.icon-huishouzhan1:before {
  content: "\e636";
}

.icon-diandian:before {
  content: "\e653";
}

.icon-angle-right1:before {
  content: "\e608";
}

.icon-add:before {
  content: "\e767";
}

.icon-select2:before {
  content: "\e624";
}

.icon-add1:before {
  content: "\e68c";
}

.icon-add2:before {
  content: "\e6df";
}

.icon-selects:before {
  content: "\e614";
}

.icon-add3:before {
  content: "\e664";
}

.icon-sort1:before {
  content: "\e81f";
}

.icon-setting:before {
  content: "\e657";
}

.icon-window-maximize:before {
  content: "\e606";
}

