@font-face {
  font-family: "iconfont"; /* Project id 3790846 */
  src: url('iconfont.woff2?t=1722698344415') format('woff2'),
       url('iconfont.woff?t=1722698344415') format('woff'),
       url('iconfont.ttf?t=1722698344415') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-title:before {
  content: "\e61d";
}

.icon-role:before {
  content: "\e60d";
}

.icon-advancedsearch:before {
  content: "\e62b";
}

.icon-Arrow-right:before {
  content: "\e614";
}

.icon-Arrow-left:before {
  content: "\e615";
}

.icon-arrow-left-circle:before {
  content: "\e665";
}

.icon-anjianfengexian:before {
  content: "\e680";
}

.icon-caret-down:before {
  content: "\e6e6";
}

.icon-caret-right:before {
  content: "\e6e7";
}

.icon-caret-left:before {
  content: "\e6e8";
}

.icon-filter:before {
  content: "\e6f2";
}

.icon-huifu:before {
  content: "\e652";
}

.icon-menu:before {
  content: "\e63e";
}

.icon-circle-full:before {
  content: "\e643";
}

.icon-xiangsizhe:before {
  content: "\e620";
}

.icon-tianjiazhankaizhijiao:before {
  content: "\e67c";
}

.icon-yuandiancaidan:before {
  content: "\e6a9";
}

.icon-daoru:before {
  content: "\e655";
}

.icon-add4:before {
  content: "\e661";
}

.icon-tianjia:before {
  content: "\e635";
}

.icon-tianjia1:before {
  content: "\e656";
}

.icon-shebeisousuo:before {
  content: "\ead2";
}

.icon-shujuyuan:before {
  content: "\e617";
}

.icon-daochu1:before {
  content: "\e654";
}

.icon-rename:before {
  content: "\e7fb";
}

.icon-link:before {
  content: "\e612";
}

.icon-sousuo3:before {
  content: "\e8ba";
}

.icon-hashtag1:before {
  content: "\e786";
}

.icon-hashtag2:before {
  content: "\e701";
}

.icon-folder3:before {
  content: "\e73e";
}

.icon-keyboardarrowdown:before {
  content: "\e76f";
}

.icon-keyboardarrowleft:before {
  content: "\e779";
}

.icon-keyboardarrowright:before {
  content: "\e77a";
}

.icon-keyboardarrowup:before {
  content: "\e77b";
}

.icon-launch:before {
  content: "\e789";
}

.icon-openinbrowser:before {
  content: "\e7e9";
}

.icon-close-bold:before {
  content: "\e685";
}

.icon-window-minimize3:before {
  content: "\e67a";
}

.icon-window-restore:before {
  content: "\e607";
}

.icon-Library:before {
  content: "\e69c";
}

.icon-edit:before {
  content: "\e722";
}

.icon-file-copy-fill:before {
  content: "\e85c";
}

.icon-ai211:before {
  content: "\e6c7";
}

.icon-ai212:before {
  content: "\e6c9";
}

.icon-open-in-new1:before {
  content: "\e8a9";
}

.icon-triangleLineUp_1:before {
  content: "\e66e";
}

.icon-backtop1:before {
  content: "\e60c";
}

.icon-triangleLineRight_1:before {
  content: "\e66c";
}

.icon-triangleLineLeft_1:before {
  content: "\e66d";
}

.icon-jian1:before {
  content: "\e8e2";
}

.icon-filter_list:before {
  content: "\e7e6";
}

.icon-filter-alt:before {
  content: "\e600";
}

.icon-dian:before {
  content: "\e60a";
}

.icon-shuaxin4:before {
  content: "\e61f";
}

.icon-huishouzhan1:before {
  content: "\e636";
}

.icon-diandian:before {
  content: "\e653";
}

.icon-angle-right1:before {
  content: "\e608";
}

.icon-add1:before {
  content: "\e68c";
}

.icon-sort1:before {
  content: "\e81f";
}

.icon-setting:before {
  content: "\e657";
}

.icon-window-maximize:before {
  content: "\e606";
}

