@font-face {
  font-family: "iconfont"; /* Project id 3790846 */
  src: url('iconfont.woff2?t=1682763685713') format('woff2'),
       url('iconfont.woff?t=1682763685713') format('woff'),
       url('iconfont.ttf?t=1682763685713') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibiaoti550:before {
  content: "\e637";
}

.icon-ai211:before {
  content: "\e6c7";
}

.icon-ai212:before {
  content: "\e6c9";
}

.icon-ai233:before {
  content: "\e6dd";
}

.icon-ai234:before {
  content: "\e6de";
}

.icon-buju:before {
  content: "\e641";
}

.icon-database:before {
  content: "\e61c";
}

.icon-open-in-new1:before {
  content: "\e8a9";
}

.icon-folder:before {
  content: "\e69d";
}

.icon-folder1:before {
  content: "\e7d1";
}

.icon-folder-open-fill:before {
  content: "\e85e";
}

.icon-folder2:before {
  content: "\e6e8";
}

.icon-open-outline:before {
  content: "\e9fc";
}

.icon-triangleLineUp_1:before {
  content: "\e66e";
}

.icon-angle-up:before {
  content: "\e60b";
}

.icon-backtop:before {
  content: "\e6c6";
}

.icon-backtop1:before {
  content: "\e60c";
}

.icon-top:before {
  content: "\e633";
}

.icon-top1:before {
  content: "\e681";
}

.icon-triangleLineRight_1:before {
  content: "\e66c";
}

.icon-triangleLineLeft_1:before {
  content: "\e66d";
}

.icon-jian1:before {
  content: "\e8e2";
}

.icon-filter_list:before {
  content: "\e7e6";
}

.icon-filter-alt:before {
  content: "\e600";
}

.icon-dian:before {
  content: "\e60a";
}

.icon-lianjie:before {
  content: "\e646";
}

.icon-lianjie1:before {
  content: "\e6c8";
}

.icon-shuaxin:before {
  content: "\e782";
}

.icon-xuexiao:before {
  content: "\e632";
}

.icon-shuaxin2:before {
  content: "\e629";
}

.icon-shuaxin3:before {
  content: "\e612";
}

.icon-piliangguanli:before {
  content: "\e670";
}

.icon-shuaxin4:before {
  content: "\e61f";
}

.icon-ziyuanxhdpi:before {
  content: "\e64c";
}

.icon-batch:before {
  content: "\e62c";
}

.icon-piliangxuanze:before {
  content: "\e622";
}

.icon-piliangchuli:before {
  content: "\e61b";
}

.icon-rename:before {
  content: "\e62a";
}

.icon-icon_rename:before {
  content: "\e658";
}

.icon-icons-:before {
  content: "\e66b";
}

.icon-huishouzhan:before {
  content: "\e61a";
}

.icon-huishouzhan1:before {
  content: "\e636";
}

.icon-diandian:before {
  content: "\e653";
}

.icon-clock:before {
  content: "\e6bb";
}

.icon-angleright1:before {
  content: "\e616";
}

.icon-angle-right1:before {
  content: "\e608";
}

.icon-windowclose:before {
  content: "\ebbf";
}

.icon-add:before {
  content: "\e767";
}

.icon-select2:before {
  content: "\e624";
}

.icon-add1:before {
  content: "\e68c";
}

.icon-add2:before {
  content: "\e6df";
}

.icon-Add:before {
  content: "\e6e6";
}

.icon-selects:before {
  content: "\e614";
}

.icon-add3:before {
  content: "\e664";
}

.icon-sort:before {
  content: "\ed26";
}

.icon-unorderedlist:before {
  content: "\e7f4";
}

.icon-sort1:before {
  content: "\e81f";
}

.icon-setting:before {
  content: "\e657";
}

.icon-filter:before {
  content: "\e686";
}

.icon-window-maximize:before {
  content: "\e606";
}

.icon-window-minimize1:before {
  content: "\e609";
}

.icon-maximize:before {
  content: "\e7bf";
}

